@import "./styleguide.css";

.container {
  max-width: 1128px;
  margin: auto;
  padding: 0 16px;
}

.header {
  background-color: var(--common-white);
  padding: 16px 0;
}

.logo {
  display: block;
  width: 24px;
  height: 24px;
}

.header-container {
  display: grid;
  grid-template-columns: 24px 1fr;
  gap: 8px;
  align-items: center;
}

.label {
  font-size: 24px;
  line-height: 40px;
  letter-spacing: 0.5px;
  color: var(--orange);
}

.main {
  background-color: var(--common-white);
  padding-bottom: 96px;
}

.footer {
  padding: 16px;
  background-color: var(--blue-light);
}
